<h1 class="letter"><%= @letter %></h1>

<div class="text">
	Follow <strong>@<%= @handle %>@<%= ENV['URL'] %></strong> to receive yells every two hours.
</div>

<% @notes.each do |note| %>
	<%= render note %>
<% end %>

<% (10 - @notes.count).times do %>
	<%= render partial: "notes/rand_note", locals: {letter: @letter} %>
<% end %>