<h1>Bots That Yell</h1>
<div class="text">
	<%= ENV['URL'].capitalize %> is an ActivityPub server that provides a bots that yell. Any yell you want, we can provide.
</div>

<div class="text">
	"<%= Yell.yell("y") %>" - <%= link_to "@y@#{ENV['URL']}", "letters/y" %><br>
	"<%= Yell.yell("2") %>" - <%= link_to "@2@#{ENV['URL']}", "letters/2" %><br>
	"<%= Yell.yell("Q") %>" - <%= link_to "@Q@#{ENV['URL']}", "letters/Q" %><br>
	"<%= Yell.yell("🦀") %>" - <%= link_to "@1F980@#{ENV['URL']}", "letters/1F980" %><br>
	"<%= Yell.yell("Ǝ") %>" - <%= link_to "@18E@#{ENV['URL']}", "letters/18E"%><br>
	"<%= Yell.yell("~") %>" - <%= link_to "@7E@#{ENV['URL']}", "letters/7E"%><br>
	And over 150,000 more!
</div>

<div class="text">
	<h2>Instructions</h2>
	For letters (<%= link_to "@x@#{ENV['URL']}", "/letters/x" %> or <%= link_to "@G@#{ENV['URL']}", "/letters/G" %>), digits (<%= link_to "@7@#{ENV['URL']}", "/letters/7" %>), and _ (<%= link_to "@_@#{ENV['URL']}", "/letters/_" %>), you can follow the character directly. For any other character, you follow the unicode hex value: follow "🐺" at <%= link_to "@1F43A@#{ENV['URL']}", "/letters/1F43A" %> or "?" at <%= link_to "@3F@#{ENV['URL']}", "letters/3F" %>. The bots can be followed on Mastodon or any other ActivityPub compatible system.
	<br><br>
	<%= form_with url: "/letters", method: :post do |form| %>
		<%= form.label :query_body, "You can easily find the unicode values for character through the search function" %><br>
		<%= form.text_field :query, id: "query_body", size: 1, maxlength: 2 %>
		<%= form.submit "Search" %>
	<% end %>
	<br><br>
	Or get <a href="/random">a random character</a> (Disclaimer: this doesn't always work and some of these characters won't display or haven't been defined).
</div>

<div class="text">
	<%= ENV['URL'].capitalize %> was made by <a href="https://akirchner.website">Alexa Kirchner</a>.
</div>