<!DOCTYPE html>
<html>
  <head>
    <title>Scream</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>
        <%= link_to ENV['URL'], "/" %>
      </div>
      <div>
        <%= form_with url: "/letters", method: :post do |form| %>
          <%= form.text_field :query, size: 1, maxlength: 2 %>
          <%= form.submit "Search" %>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
